

:root {
    --dh-navbar-heigt: 4rem;
}



/* #region header */

.my_nav{
    height: 70px;
}




/* #region sidebar*/

.sidebar{
    height: calc(100vh - var(--dh-navbar-heigt));
    width: min-content;
    background-color: #051e34;
}
 

.my_fs {
    font-size: 12px;
    
}
   


.banner{

    & span {
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        border-radius: 1rem;
        font-weight: 400;
    }
}
    
