body {
    overflow: hidden;
}

nav {
    height: 70px;
}

/* #region main */

/* #sidebar */

#sidebar {
    width: 68px;
    background-image: url(../assets/img/sidebar-bg.png);
    background-color:  #051f35;
}

#sidebar .container {
    height: 100%;
}

/* #main_page */

#main_page {
    height: calc(100vh - 70px);
    overflow: auto;
    width: 100%;
}

/* #top */
#top {
    width: 100%;
}

#btn_plus{
    transition: .3s;

}

#btn_plus:hover{
    background-color: white;
    color: black;
}

#offcanvas{
    width: 100%;
}

/* #endregion main */



@media (min-width: 992px) {

    #sidebar {
        width: 150px;
    }

   
    #offcanvas{
        width: 800px;
    }

}
